.app-admin-wrap {
    width: 100%;
    
    .main-content-wrap {
        width: 100%;
        float: right;
        margin-top: 0;
        transition: all 0.24s ease-in-out;
        padding: 0 2rem;
        position: relative;
        min-height: 80vh;
        background: whitesmoke;

        .module-loader {
            position: fixed;
            background: rgba(#ccc, .5);
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 9;
            .loader, .spinner {
                position: fixed;
                top: 45%;
                left: calc(50% + 56px);
                z-index: inherit;
            }
        }
    }
}
