.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
   
.wrapper > * {
    padding: 20px;
}

.page-main {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    background: url('https://picsum.photos/g/1800/970/?random') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
   
.page-main div {
    max-width: 500px;
}

.page-footer {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 2.5rem;
}
   
@media screen and (min-width: 768px) {
    .page-main {
      padding-left: 90px;
    }
}