
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <div class="logo">
          <a (click)="navigateToHome()" style="cursor:pointer;">
            <i class="fa fa-home text-white" style="font-size: 40px;"  role="button"></i>
          </a>
      </div>
      <ul class="navbar-nav ml-auto">
        <i fullScreenWindow class="nav-item d-flex flex-column justify-content-center mr-2">
            <i data-feather="maximize"  class="text-light" style="cursor: pointer;"></i>
        </i>
        <li class="nav-item">
            <div ngbDropdown [placement]="'bottom-left'" class="user col nav-link mr-2">
                <img src="./assets/img/maminjo.jpeg" id="userDropdown" ngbDropdownToggle style="cursor:pointer;" alt="">
    
                <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
                    <div class="dropdown-header">
                        <i class="i-Lock-User mr-1"></i> Zdravko Mamić
                    </div>
                    <button class="dropdown-item">"Akcija"</button>
                </div>
            </div>
        </li>
      </ul>
    </div>
  </nav>